.Input-wrapper{
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(180, 177, 177);
    margin: 4px;
    border-radius: 10px;
}

.Result{
    flex: 1;
    font-size: 17px;
}

.Equation{
    flex: 1;
    font-size: 12px;
}